<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2 col-lg-6 col-lg-offset-3">
    
  <%= form_for(idea) do |t| %>
    <% if idea.errors.any? %>
      <div class="alert alert-warning">
        <ul>
          <% idea.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= t.label :content, 'アイデア' %>
      <%= t.text_area :content, class: 'form-control', rows: 5  %>
      <%= t.label "画像", class: 'control-label', style: "color:#fff"  %>
      <%= t.file_field :image,  class: 'filestyle', "data-buttonText": "ファイル選択" %>
    </div>

    <%= t.submit '投稿', class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
