<div class="linkbox flip flipAnimation" style="background-color:<%=color%>">
    <% if logged_in? %>
        <%= render 'favorites/fav_button', idea: idea %>
    <% end %>
    <div class="tape"></div>
    <p class="postit">
        <% user = User.find_by(id: idea.user_id) %>
        <span>User : <%= link_to user.name, user %> <br><%= idea.updated_at.strftime("%Y/%m/%d %X") %> </span>
        <div class="postit2">
            <% unless idea.image.blank? %>
                <div class="thumbnail" style="background-color:<%=color%>">
                    <%= link_to image_tag(idea.image), idea %>
                </div>
            <% end %>
            <%= link_to simple_format( h(idea.content)), idea %>
        </div>
    </p>

</div>