
  <div class="linkbox"  style="background-color:<%= %w( #AFEEEE #EEE8AA #00FFFF #ADFF2F ).sample %>" >
    <%= simple_format h @idea.content %>
  </div>


<% if @flag %>
  <%= link_to 'このアイデアを編集する', edit_idea_path(@idea), class: 'btn btn-default' %>
  <%= link_to 'このアイデアを削除する', @idea, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
<% end %>

<br>

<% if logged_in? %>
    <%= form_for(@comment, :html => {:class => "form-inline pull-right "})  do |f| %>
      <div class="form-group">
        <%= f.text_field   :content, :placeholder => "コメント(最大255文字)", class: 'form-control' %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :idea_id %>
        <%= f.submit '投稿', class: 'btn btn-primary' %>
      </div>
    <% end %>
<br>
<% end %>
<br>

<% if @comments.blank? %>
  <h3>コメントは0です. 素敵なアイデアにコメントしてください！</h3>
<% else %>
<div class="row">
    <% @comments.each do |comment| %>
      <% if comment.content.blank? %>
      <% else %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="linkbox" style="background-color:<%= %w( #AFEEEE #EEE8AA #00FFFF #ADFF2F ).sample %>">
            <p class="postit">
              <% user = User.find_by(id: comment.user_id) %>
              <span>User : <%= link_to user.name, user %> <br><%= comment.updated_at %> </span>
              <div class="postit2">
                <%= simple_format h comment.content %>
              </div>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
